:root {
  --heading-font-family: "Lato", sans-serif;
  --default-font-family: "Red Hat Mono";
  --highlight-color:#033B41;
  --default-box-shadow: 1px 1px 15px ;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bolder;
  padding-top: 300px;
  color: var(--highlight-color);
}
h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  padding-bottom: 40px;
}


p {
  font-family: var(--default-font-family);
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: end;
}

.navbar-brand {
  font-family: var(--heading-font-family);
  font-size: 20px;
  font-weight: bolder;
  padding-right: 30px;
}
.nav-link {
  font-family: var(--default-font-family);
  font-size: 18px;
}

.contact-button {
  border-radius: 4px;
  border-width: medium;

  line-height: 27px;
  padding: 15px 30px;
  
}

.contact-button:hover {
  background-color:  var(--highlight-color);
  border-color:  var(--highlight-color);
  color: white;
}
.contact-link {
  text-decoration: none;
  font-family: var(--heading-font-family);
  font-weight: bolder;
}

.contact-link:hover {
  color: white
  text-decoration: none;
}
.contact-link:visited
 {
  color: inherit;
  text-decoration: none;
}

.hero {
  background-image: url(images/hero1.png);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: right;
  padding: 120px 20px;
}

.project-image {
  box-shadow: var(--default-box-shadow);
  border-radius: 8px;
}

.project-title {
  font-family: var(--heading-font-family);
  font-size: 32px;
  font-weight: bold;
  color: var(--highlight-color);
  text-align: center;
}
.project-button {
  color: var(--highlight-color);
  font-weight: bolder;
  border-width: medium;
  display: block;
  margin: 0 auto;
 
}
.project-button:hover {
  background-color: var(--highlight-color);
  color: white;
  border-color: var(--highlight-color);
}

#navbarTogglerDemo02 {
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  padding: 80px 20px;
  padding-bottom: 40px;
  }
  p {
    text-align: center;
  }
  h1 {
    font-size: 48px;
    padding-top: 10px;
  }
  h2 {
    font-size: 18px;
    text-align: center;
  }
  .project-button {
    display: block;
    text-align: center;
  }

}
@media (max-width: 1340px) {
  h1 {
    color: white;
  }
}
